html, body{
	margin:0;
}

:focus{
	outline: none;
}

/* Reset std button*/
button{
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.note{
	width:20vw;
	height:20vw;
	background-color: #FFEC2C;
	position: relative;
	padding:5px;
	display: inline-block;
	margin:10px;
}

.title_input{
	position: relative;
	background-color: #FFEC2C;
	border:0;
	width:18vw;
	margin:1vw 1vw;
	padding:0;
	color:grey;
	font-size: 1.2rem;
}

.content{
	position: relative;
	background-color: #FFEC2C;
	border:0;
	height:15vw;
	width:18vw;
	margin:5px 1vw;
	padding:0;
	resize: none;
	color:grey;
	font-size:1rem;
}

.title{
	display:inline-block;
}

.container{
	display:inline;
	margin:0 auto;
}

.add{
	font-size: 1.5rem;
	font-weight: 700;
	width:20vw;
	height:20vw;
}

.delete{
	background-color: rgba(0,0,0,0);
	border:none;
	position: absolute;
	top:5px;
	float:right;
	right:10px;
	font-size:20px;
	font-weight: 400;
	z-index:+2;
}

.navbar{
	margin:10px;
}

.search{
	float:right;
	right:0;
	position: relative;
	display: block;
}

.search_input, .title{
	font-size: 1.3rem;
	font-family: sans-serif;
}

.create{
	vertical-align: top;
	display:inline-block;
	height:20vw;
	padding:5px;
	margin:10px;
	background-color: #FFFACC;


}

.clear_cache{
	width:50px;
	height:50px;
	border-radius: 100px;
	background-color: white;
	font-size: 1rem;
	font-weight: 700;
	margin:10px;
	position: absolute;
	bottom:0;
	right:0;
}

img{
	height:80%;
}

@media only screen and (min-width:481px) and (max-width: 1024px){
	.note{
		width:35vw;
		height:35vw;
	}

	.create, .add{
		width:35vw;
		height:35vw;
	}

	.title_input, .content{
		width:30vw;
	}

	.content{
		height:30vw;
	}
}

@media only screen and (max-width: 480px){
	.note{
		width:80vw;
		height:80vw;
		display: block;
		margin-left:10vw;
		margin-right:10vw;
	}

	.content{
		height:70vw;
		width:75vw;
	}

	.title_input{
		width:75vw;
	}

	.create{
		width:100vw;
		position: fixed;
		bottom:0;
		left:0;
		background-color: rgba(0,0,0,0);
		z-index: +99;
	}

	.title_input, .content, .search{
		display:block;
	}

 .add{
 		border:1px solid black;
 		background-color: white;
		width:50px;
		height:50px;
		border-radius: 50px;
		float:right;
		bottom:70px;
		right:30px;
		position: absolute;
		z-index: +99;
		}

	.clear_cache{
		border:1px solid black;
		z-index: +99;
		position: fixed;
	}

	.title{
		margin-left:10vw;
		margin-bottom: 10px;
		font-size:1.5rem;
		display:block;
	}

	.navbar{
		margin:10px 0;
		position: fixed;
		width:100vw;
		height:20vw;
		z-index:+99;
	}

	.search{
		margin-left:10vw;
		float:left;
	}

	.search_input{
		border:1px solid black;
		width:80vw;
		padding:4px;
		font-size: 1.1rem;
	}

	.container{
		position: relative;
		margin-top:10px;
		top:28vw;

	}

	img{
		width:60%;
	}


}

