html, body{
	margin:0;
}

:focus{
	outline: none;
}

/* Reset std button*/
button{
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.note{
	width:20vw;
	height:20vw;
	background-color: #FFEC2C;
	position: relative;
	padding:5px;
	display: inline-block;
	margin:10px;
}

.title_input{
	position: relative;
	background-color: #FFEC2C;
	border:0;
	width:18vw;
	margin:1vw 1vw;
	padding:0;
	color:grey;
	font-size: 1.2rem;
}

.content{
	position: relative;
	background-color: #FFEC2C;
	border:0;
	height:15vw;
	width:18vw;
	margin:5px 1vw;
	padding:0;
	resize: none;
	color:grey;
	font-size:1rem;
}

.container, .create, .title{
	display:inline-block;
}

.add{
	border:1px solid black;
	font-size: 1.5rem;
	font-weight: 700;
	width:20vw;
	margin:10px;
	background-color: white;
}

.delete{
	background-color: rgba(0,0,0,0);
	border:none;
	position: absolute;
	top:5px;
	float:right;
	right:10px;
	font-size:20px;
	font-weight: 400;
	z-index:+2;
}

.navbar{
	margin:10px;
}

.search{
	float:right;
	right:0;
	position: relative;
	display: block;
}

.search_input, .title{
	font-size: 1.5rem;
	font-family: sans-serif;
}

.create{
	vertical-align: top;
	width:20vw;
}

